
<section class="module parallax parallax-1">
  <div class="container">
    <h1>Motion</h1>
  </div>
</section>

<section class="module content">
  <div class="container">
    <h2>Lorem Ipsum Dolor</h2>
    <p>Lorem ipsum dolor...</p>
  </div>
</section>

<section class="module parallax parallax-2">
  <div class="container">
    <h1>Shape</h1>
  </div>
</section>

<section class="module content">
  <div class="container">
    <h2>Lorem Ipsum Dolor</h2>
    <p>Lorem ipsum dolor...</p>
  </div>
</section>

<section class="module parallax parallax-3">
  <div class="container">
    <h1>Colour</h1>
  </div>
</section>

<section class="module content">
  <div class="container">
    <h2>Lorem Ipsum Dolor</h2>
    <p>Lorem ipsum dolor...</p>
  </div>
</section>
